#h2_inline
{
    text-align:left;
    float:left;
}
#div_inline
{
    text-align:right;
    float:right;
}
#p_inline
{
    display: inline-block;
    width:40%;
    text-align:center;
    text-overflow: ellipsis;
}
#left {
    text-align:left;
    float:left;
}

#right {
    text-align:right;
    float:right;
}
#center
{
    text-align:center;
}