<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid ">
      <ul class="nav navbar-nav ">
        <li  class="text-center"><a href="#/new-bid">New Bid</a></li>
        <li  class="text-center "><a href="#/running-bids-admin">Running Bids</a></li>
        <li class="active text-center " ><a href="#/closed-bids-admin">Closed Bids</a></li>
        <li class="text-center" ><a  href="#/history-admin">History</a></li>
      </ul>
    </div>
  </nav>
  
  <h2 id="h2_inline" >Closed Bids  &#8352;</h2>
  <div id="div_inline"  class="col-xs-3">
     <input class="form-control" type="text" value="" ng-model="search" placeholder="Search..."/>
   </div>
   </br>
   
  <div  ng-controller="AdminClosedBidsCtrl">
   <div class="row">
     <div>
      <table   class=" table table-responsive" >

          <thead>
          <tr>

              <th >productName</th>
              <th >productDesc</th>
              <th >numofParticpant</th>
              <th >bestBid</th>
              <th >incUnit</th>
              <th >price</th>
              <th >winner Name</th>

          </tr>
          </thead>

          <tbody id="myTable">
          <tr ng-repeat="data in myData" >

              <td>{{data.productName}}</td>
              <td>{{data.productDesc}}</td>
              <td >{{data.numofParticpant}}</td>
              <td >{{data.bestBid}}</td>
              <td >{{data.incUnit}}</td>
              <td >{{data.price}}</td>
              <td >{{data.winnerName}}</td>

          </tr>
      </tbody>

    </table>
  </div>

</div>
</div>
</div>
