<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid ">
            <ul class="nav navbar-nav ">

                <li  class="text-center active"><a href="#/all-bids-user">All Bids</a></li>
                <li class="text-center" ><a href="#/opened-bids-user">My Opened Bids</a></li>
                <li class="text-center" ><a  href="#/closed-bids-user">My Closed Bids</a></li>
            </ul>
        </div>
    </nav>

    <h2 id="h2_inline" >All Bids  &#8352;</h2>
    <div id="div_inline"  class="col-xs-3 " >
        <input class="form-control" type="text" value="" ng-model="search" placeholder="Search..."/>
    </div>
    </br>

    <div  ng-controller="user">
        <div class="row">

            <table   class=" table table-responsive" >

                <thead>
                <tr>

                    <th >Item</th>
                    <th >Description</th>
                    <th >Remaining</th>
                    <th id="center">Participant</th>
                    <th id="center">Started</th>
                    <th id="center" >Current</th>
                </tr>
                </thead>

                <!--<tbody id="myTable">-->
                <!--<tr ng-repeat="data in myData | filter : search" ng-if="data.status != 'not started' "  >-->

                <!--<td>{{data.productName}}</td>-->
                <!--<td>{{data.productDesc}}</td>-->
                <!--<td  ng-init="remaining(data.Start_date,data.Period,$index)">{{data.Remaining}}</td>-->
                <!--<td id="center">{{data.numofParticpant}}</td>-->
                <!--<td id="center">{{data.startTime}}</td>-->
                <!--<td >-->
                <!--<button id="center"  ng-if="data.status == 'opened' " class="btn btn-success btn-xs" ng-click="inc($index,data.Current,data.Increment)">&#10010;</button>-->
                <!--<button id="center"  ng-if="data.status == 'closed' " class="btn btn-success btn-xs" disabled>&#10010;</button>-->
                <!--<P id="p_inline">{{data.price}}</P>-->
                <!--<button   ng-if="data.status == 'opened' " class="btn btn-danger btn-xs" ng-click="dec($index,data.Current,data.Increment,data.Started)">&#10134;-->
                <!--</button>-->
                <!--<button  ng-if="data.status == 'closed' " class="btn btn-danger btn-xs" disabled>&#10134;-->
                <!--</button>-->
                <!--</td>-->
                <!---->
                <!--<td id="center"><button ng-if="data.status == 'opened' " class="btn btn-info" ng-click="bid($index)">&#9998;Bid</button>-->
                <!--<button id="center" ng-if="data.status == 'closed' " class="btn btn-info" ng-click="bid($index)" disabled>&#9998;Bid</button>-->
                <!--</td>-->
                <!--</tr>-->

                </tbody>
                <tbody id="myTable">
                <tr ng-repeat="data in myData | filter : search" >

                    <td>{{data.productName}}</td>
                    <td>{{data.productDesc}}</td>
                    <td  ng-init="remaining(data.startTime,data.period,$index)">{{data.Remaining}}</td>
                    <td id="center">{{data.numofParticpant}}</td>
                    <td id="center">{{data.startTime}}</td>
                    <td >
                        <button id="center"  class="btn btn-success btn-xs" ng-click="inc($index,data.maxCurrentBid,data.incUnit)">&#10010; </button>
                        <P id="p_inline">{{data.price}}</P>
                        <button  class="btn btn-danger btn-xs" ng-click="dec($index,data.maxCurrentBid,data.incUnit,data.startTime)">&#10134;
                        </button>
                    </td>

                    <td id="center"><button class="btn btn-info" ng-click="bid($index)">&#9998;Bid</button>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>

    <!--  <script src="app/countdown.js"></script> -->

</div>
</div>
